<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Основы Vue</title>
  <link rel="stylesheet" href="theme.css"/>
</head>
<body>

<div class="container" id="app">
  <div class="card">
    <h1>План по изучению Vue.js</h1>

    <div class="steps">
      <div class="steps-content">
        {{ text }}
      </div>
      <ul class="steps-list">
        <li class="steps-item"
            :class="{
              'done': activeIndex > idx,
              'active': activeIndex === idx
              }"
            @click="setActive(idx)"
            v-for="(step,idx) in steps">
          <span>{{ idx + 1 }}</span>
          {{ step.title }}
        </li>
      </ul>

      <div>
        <button class="btn"
                @click="prev"
                v-if="activeIndex !== 0">
          Назад
        </button>
        <button class="btn" v-else disabled>Назад</button>
        <button class="btn primary"
                @click="next"
                v-if="activeIndex < steps.length - 1">
          Вперед
        </button>
        <button class="btn primary"
                @click="btnFinish"
                v-else-if="activeIndex === steps.length - 1">
          Закончить
        </button>
        <button class="btn primary"
                @click="reset"
                v-else-if="activeIndex === steps.length + 1">
          Начать заново
        </button>
      </div>

    </div>
  </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="vue.js"></script>
</body>
</html>
